.title-box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  background-color: #3b818f;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  width: fit-content;
}

.jos-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-bottom: 20px;
}

.jos-box {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  border: 2px solid #3b818f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: fit-content;
}

.margins-lr-10pc {
  margin: 0 10% 0 10%;
}

// .jos-label {
//   color: #808080;
// }

// .jos-count {
//   font-size: 24px;
//   font-weight: bold;
//   margin-top: 10px;
// }