<div *ngIf="olympicCountry !== undefined">
  <div class="title-box">
    <b> {{ olympicCountry.country }}</b>
  </div>

  <div class="jos-container">
    <div class="jos-box">
      <div class="jos-label">Number of entries</div>
      <div class="jos-count">
        <b>{{ numberOfEntries }}</b>
      </div>
    </div>
    <div class="jos-box">
      <div class="jos-label">Total number of medals</div>
      <div class="jos-count">
        <b>{{ totalNumberOfMedals }}</b>
      </div>
    </div>
    <div class="jos-box">
      <div class="jos-label">Total number of athletes</div>
      <div class="jos-count">
        <b>{{ totalNumberOfAthletes }}</b>
      </div>
    </div>
  </div>
  <div class="margins-lr-10pc">
    <!-- <div class="margins-lr-10pc"> -->
    <!-- <div class="margins-lr"> -->
    <app-line-chart
      [olympicCountryFromParent]="olympicCountry"
    ></app-line-chart>
  </div>
</div>
<!-- <div>
  <button routerLink="/" class="title-box">Go Back</button>
</div> -->
<div
  routerLink="/" class="button title-box">Go Back
</div>
<!-- TODO -->
