<h2>Olympic games app</h2>
<hr />

<div class="title-box">Medals per Country</div>

<div class="jos-container">
  <div class="jos-box">
    <div class="jos-label">Number of JOs</div>
    <div class="jos-count">
      <b>{{ numberOfJOs }}</b>
    </div>
  </div>
  <div class="jos-box">
    <div class="jos-label">Number of countries</div>
    <div class="jos-count">
      <b>{{ numberOfCountries }}</b>
    </div>
  </div>
</div>

<app-pie-chart
  *ngIf="olympicCountries.length > 0"
  [olympicCountriesFromParent]="olympicCountries"
></app-pie-chart>
